/* COGS3 studyBuddy specific styles go here. */

#title{
    background-color: rgb(29, 29, 29);
    font-family: 'Courier New', Courier, monospace;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 4rem;
line-height: 1.5;
text-align: center;
color: rgb(237, 237, 25);
padding-bottom: 80px;
}

h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5;
    font-weight: bold;
    text-align: center;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

p{
    color: #d2d1d1;
    text-align: center;
    margin: 10px;
}

/* Nav-Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

/* Download Buttons*/

.download-button{
    margin: 5% 3% 5% 0%;
}

.button-color{
    background-color: #a371ba;
}

a:link{
    color: rgb(216, 216, 216);
}
a:visited{
    color: rgb(216, 216, 216);
}
a:hover{
    cursor: pointer;
}
a:active{
    color: rgb(72, 11, 103);
}

/* Title Image */

.title-image{
    width: 100%;
    height: 70%;
}

.about{
    text-align: center;
    padding: 5%;
    background-color: #b598c2;
}

.about-paragraph{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Features */

#features{
    padding: 7% 15%;
    background-color: rgb(29, 29, 29);
    z-index: 1;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
}

.icon:hover{
    color: #AF7AC5; 
}

.html{
    color: rgb(249, 62, 62);
}

.javascript{
    color: rgb(237, 237, 25);
}

.figma{
    color: rgb(177, 34, 177);
}

.excel{
    color: green;
}

/* Testimonials */

#testimonials{
    text-align: center;
    /*background-color: #AF7AC5;*/
    background-color: rgb(77, 77, 77);;
    font-family: 'Courier New', Courier, monospace;
}

.testimonial-image1{
    width: 20%;
    height: 100%;
    margin: 10px;
}

.testimonial-image2{
    margin: 10px;
    width: 70%;
    height:100%;
}

.testimonial-image3{
    margin: 10px;
    width: 60%;
    height: 100%;
}


/* Carousel */

.carousel-item{
    height: 600px;
    padding: 7% 15% 10%;
}

/* Press */

#press{
    background-color: #AF7AC5;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-header{
    color: rgb(29, 29, 29);
    padding-top: 90px;
    padding-bottom: 100px;
    border: 30px solid white;
}

.pricing-column{
    padding: 3% 2%;
}

.price-list{
    border: 1px solid black;
}

.pricing-item{
    width: 350px;
    height: 300px;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 550px;
    height: 350px;
}
.card:hover .img-top {
    display: inline;
}

.laptop{
    width: 550px;
    height: 350px;
    margin: 20px;
}

.iphone{
    width: 380px;
    height: 500px;
    margin: 20px;
    padding-left: 150px;
}

.card .img-top-iphone {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 380px;
    height: 500px;
}
.card:hover .img-top-iphone {
    display: inline;
}

.card{
    background-color: rgb(123, 123, 123);
    margin: 10px;
}

.color{
    background-color: rgb(29, 29, 29);
}


/* Call To Action */

#cta{
    background-color: rgb(29, 29, 29);
    color: rgb(237, 237, 25);
    padding: 7% 15%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.cta-heading{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Footer */

#footer{
    padding: 3% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

/* Media */
/*
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}


/*TypeWriter*/

.typewriter h1 {
    font-family: 'Courier New', Courier, monospace;/* Web-safe typewriter-like font */
    overflow: hidden;/* Ensures the content is not revealed until the animation */
    border-right: .17em solid rgb(237, 237, 25);/* The typewriter cursor */
    white-space: nowrap;/* Keeps the content on a single line */
    margin: 0 auto;/* Gives that scrolling effect as the typing happens */
    letter-spacing: .17em;/* Adjust as needed */
    animation: typing 3.5s steps(30, end), blinking-cursor .9s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: rgb(237, 237, 25);
    }
  }